#boardContainer {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-items: center;
  align-items: center;
}

.gameGrid {
  font-size: 160px;
  width: 200px;
  height: 200px;
  text-align: center;
}

.spot1,
.spot4,
.spot7 {
  border-left: 2px black solid;
  border-right: 2px black solid;
}

.spot3,
.spot4,
.spot5 {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}
